{% extends 'Teacher/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Change Password</h2></div>
        <div class="panel-body">
            {% if error_message %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>{{ error_message }}</strong>
                </div>
            {% endif %}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% include 'Teacher/form-template.html' %}
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <a class="btn btn-danger" href="{% url 'Teacher:index' %}">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}